
# Ignore the python cache
webapp/__pycache__/

# Ignore the gradle cache
.gradle/*

# Do we need the .classpath
Equations/.classpath

# Ignore the build artifacts
Equations/bin/*
Equations/build/*

# Also ignore any .class files
*.class
