{% extends 'layout.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
<h2>Change password</h2>

<div>
    <p>Change your password</p>
    <div class="register">
        <form action="{{ url_for('change_password') }}" method="post" autocomplete="off">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <label for="oldpassword">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="oldpassword" placeholder="Old Password" id="oldpassword" required>
            <label for="newpassword">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="newpassword" placeholder="New Password" id="newpassword" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Change">
        </form>
    </div>
</div>
{% endblock %}
