<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Equations GameView 1.0</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
  		<link rel="stylesheet" href="css/custom.css">
  		{% block functions %}{% endblock functions %}
	</head>
	<body>
		<div style="justify-content: center;">
			{% block content %}{% endblock content %}
		</div>
	</body>
</html>